<form action="{{ path('recherche_employer') }}" method="post" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        {{ form_widget(form.recherche, { 'attr': {'class': 'form-control', 'placeholder': 'Recherche par nom'} }) }}
    </div>
    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
</form>